/* NotFoundError.css */
.not-found-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.not-found-error h1 {
  font-size: 4rem;
  color: #e74c3c;
  margin-bottom: 10px;
}

.not-found-error p {
  font-size: 1.5rem;
  color: #555;
}
